.container {
  height: 10vh;
  overflow: hidden;
  transition: height 15s ease;
  padding: 10px;
  margin-bottom: 10px;
}

#toggleBtn{
  padding: 10px 125px;
  background-color: white;
  color: blue;
  border: 1px solid blue;
  border-radius: 10px;
  cursor: pointer;
}
@keyframes blink {
  0%, 100% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40%, 90% { opacity: 0; }
}
#collab{
  display: flex;
  flex-direction: column;
  height: 300px;
overflow-y: auto;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 2px 5px 2px white;
}
button {
  transition: transform 0.2s ease;
}

#email:hover {
  background-color: red;
  color: white;
  transform: scale(0.9);
  cursor: pointer;
}

#whatsapp:hover {
  background-color: green;
  color: white;
  transform: scale(0.9);
  cursor: pointer;
}
#telegram:hover {
  background-color: blue;
  color: white;
  transform: scale(0.9);
  cursor: pointer;
}
