@keyframes blink {
  0%, 100% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40%, 90% { opacity: 0; }
}
#email:hover {
  background-color: red;
  color: white;
  transform: scale(0.9);
  cursor: pointer;
}

#whatsapp:hover {
  background-color: green;
  color: white;
  transform: scale(0.9);
  cursor: pointer;
}
#telegram:hover {
  background-color: blue;
  color: white;
  transform: scale(0.9);
  cursor: pointer;
}
